{% extends "base.html" %}
{% block content %}
      <div class="carditems">
        <div class="status">
          <h1>C E R T I F I C A T I O N</h1>
        </div>
        <div class="cards">
          <div class="card">
            <img src="/static/python.png" alt="" />
            <div class="card-info">
              <div>
                <h2>Certification in Crash Course on PYTHON</h2>
              </div>
              <p> <a href="https://drive.google.com/file/d/1ct7bK-V9wiUPpX7LoG9_UmrVz7ApfDlH/view?usp=sharing">View Certificate</a>
              </p>
            </div>
            <h2 class="percentage">2021</h2>
          </div>
          <div class="card">
            <img src="/static/django.png" alt="" />
            <div class="card-info">
              <div>
                <h2>Certification in Web Application Technologies and Django</h2>
              </div>
              <p> <a href="https://drive.google.com/file/d/1hEuJMrKvufYYY_AyCodRC9XHtIvzqgHq/view?usp=sharing">View Certificate</a>
              </p>
            </div>
            <h2 class="percentage">2021</h2>
          </div>
        </div>
      </div>
      {% endblock %}