{% extends "base.html" %}
{% block content %}
      <div class="carditems">
        <div class="status">
          <h1>Education</h1>
        </div>
        <div class="cards">
          <div class="card">
            <img src="/static/abvv.jpg" alt="" />
            <div class="card-info">
              <div>
                <h2>Atal Bihari Vajpayee University</h2>
                <i>
                  <p>- Bilaspur, Chhattisgarh</p>
                </i>
              </div>
              <p>Master of Computer Application</p>
            </div>
            <h2 class="percentage">2020-Present</h2>
          </div>
          <div class="card">
            <img src="/static/clg.png" alt="" />
            <div class="card-info">
              <div>
                <h2>Govt. E. R. R. Science College</h2>
                <i>
                  <p>- Bilaspur, Chhattisgarh</p>
                </i>
              </div>
              <p>Bachelor of Science</p>
            </div>
            <h2 class="percentage">2017-2020</h2>
          </div>
        </div>
      </div>
      {% endblock %}