      {% extends "base.html" %}
      {% block content %}
      <div class="carditems">
        <h1>Hello World &#x1F44B !</h1>
        <br>

        <p>I'm <strong>Nagesh Naik</strong>, a MCA Student from ABVV <em>(Atal Bihari Vajpayee Vishwavidyalaya)</em></p>
        <br>

        <p>The hard working individual passionate about learning new technology
          seeking a be role to explore my technical knowledge and intend to be
          a part of organization where I can constantly learn and develop my skill
          and contribute to the growth of the organization successful.</p>
        <br>
        <p class="gradient-par">I'm currently looking for a internship on Web Mobile development.</p>
        <br>
        <a href="https://drive.google.com/file/d/1zmHmMljfjBqSVrRlCPY23oONYB_nos9P/view?usp=sharing" target="_blank">

          <div class="glassbutton">
            <p>View my Resume</p>
          </div>
        </a>
      </div>
      {% endblock %}