{% extends "base.html" %}
{% block content %}
      <div class="carditems">
        <div class="status">
          <h1>Skills</h1>
        </div>
        <div class="cards">
          <div class="card">
            <img src="/static/python.png" alt="" />
            <div class="card-info">
              <h2>Programming Languages</h2>
              <p>I use with Python on a daily basis when solving the coding challenges and automation. I also work with PHP and Javascript.</p>
            </div>
          </div>
         
          <div class="card">
            <img src="/static/frontend.png" alt="" />
            <div class="card-info">
              <h2>Frontend</h2>
              <p>I'm still learning new technologies for the web and develop some coding habits. For the moment, I use
                HTML, CSS, Javascript, and Bootstrap.</p>
            </div>
          </div>
          <div class="card">
            <img src="/static/database.jpg" alt="" />
            <div class="card-info">
              <h2>Database</h2>
              <p>I worked on MySQL, Oracle and Mongodb.</p>
            </div>
          </div>
          <div class="card">
            <img src="/static/vscode.jpg" alt="" />
            <div class="card-info">
              <h2>TOOLS</h2>
              <p>Vscode is my favorite code editor. I use Git for version control.</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}